
*{
   
    background-color: white;
    box-sizing: border-box;
}

h1{
    text-align: center;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 0 auto;
}

div{
    border: 5px solid red;
    text-align: center;

}
ul{
    display: inline-flex;
    text-align: center;
    margin: 0;
    list-style-type: none;
}
li{
    margin: 10px;
}
.lasagna{
    max-width: 250px;
    height: 180px;
}